*.la
*.lo
*.o
*.slo
*~
.deps/
.libs/
a.out.dSYM
Makefile
Makefile.in
aclocal.m4
autom4te.cache
clean
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
sslhaf.pc
stamp-h1
