*.la
*.lo
*.o
*~
/a.out.dSYM
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/clean
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/missing
/sslhaf.pc
/sslhaf/.deps/
/sslhaf/.libs/
/sslhaf/Makefile
/sslhaf/Makefile.in
/test/Makefile
/test/Makefile.in
/docs/Makefile
/docs/Makefile.in
